In [1]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('input2.txt', header = None)
data

             0
0    forward 7
1       down 8
2    forward 5
3       down 3
4    forward 6
..         ...
995     down 4
996  forward 1
997  forward 6
998  forward 8
999  forward 3

[1000 rows x 1 columns]

In [31]:
data2 = data[0].str.split(' ', n=2, expand = True)
data2

           0  1
0    forward  7
1       down  8
2    forward  5
3       down  3
4    forward  6
..       ... ..
995     down  4
996  forward  1
997  forward  6
998  forward  8
999  forward  3

[1000 rows x 2 columns]

In [9]:
data2[0].size

1000

In [14]:
data2.iloc[1, 1] == 8

False

In [32]:
data2[1] = pd.to_numeric(data2[1])
data2.iloc[1, 1] == 8

True

In [33]:
position = 0
depth = 0

for i in range(data2[0].size):
    if data2.iloc[i, 0] == 'forward':
        position += data2.iloc[i, 1]
    elif data2.iloc[i, 0] == 'down':
        depth += data2.iloc[i, 1]
    elif data2.iloc[i, 0] == 'up':
        depth -= data2.iloc[i, 1]
        
answer = position * depth
print(answer)

1698735

In [34]:
aim = 0
position = 0
depth = 0

for i in range(data2[0].size):
    if data2.iloc[i, 0] == 'forward':
        position += data2.iloc[i, 1]
        depth += aim * data2.iloc[i, 1]
    elif data2.iloc[i, 0] == 'down':
        aim += data2.iloc[i, 1]
    elif data2.iloc[i, 0] == 'up':
        aim -= data2.iloc[i, 1]
        
answer = position * depth
print(answer)

1594785890