<a href="https://colab.research.google.com/github/bhavin-s/AdventOfCode/blob/main/Advent2020Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Click a box with code in it, then press Shift+Enter to execute that box.
First, import the usual libraries.

In [1]:
import pandas as pd
import numpy as np

Then upload the input file.

In [2]:
from google.colab import files

uploaded = files.upload()

Saving input1.txt to input1.txt

To import the input file into a format that is easily manipulated, I used `pd.read_csv` and store the input in the variable called `numlist`.
Since this is a simple list of numbers, I specified `header = None`, otherwise the command will take the first number as the column label, which we don't want.

In [29]:
numlist = pd.read_csv('input1.txt', header = None)
numlist

        0
0    1899
1    1358
2    1824
3    1541
4    1801
..    ...
195  1573
196  1023
197  1758
198  1857
199  1723

[200 rows x 1 columns]

To solve this puzzle, I separated the list into values that were smaller and larger than half of the target value (2020). 
`numlist[0]<1010` is the criteria, and specifying that in the `[]` after numlist means it will only select numbers that meet the criteria. `.values` converts a Dataframe into a simple array.

In [26]:
numlistlow = numlist[numlist[0]<1010].squeeze(1).values
numlisthigh = numlist[numlist[0]>1010].squeeze(1).values
numlistlow

array([ 43, 989, 319, 527])

Now we want to examine every combination of 1 value each from the low and high list, until the total matches 2020. To repeat something for a certain number of times, a for loop is convenient. For example:

`for i in range(3)`

will repeat things inside 3 times, with i taking the value 0, 1, and 2 each time. `numlistlow.size` will give the number of items in that list.

When the loop finds the pair that adds up to 2020, it will store the 2 values in `targetlow` and `targethigh`.

In [27]:
targetlow = 0
targethigh = 0

for i in range(numlistlow.size):
      for j in range(numlisthigh.size):
          if numlistlow[i] + numlisthigh[j] == 2020:
              targetlow = numlistlow[i]
              targethigh = numlisthigh[j]
            
answer = targetlow*targethigh
print(answer)

542619

In [28]:
targetlow = 0
targethigh = 0
targetlow2 = 0

for i in range(numlistlow.size):
    for k in range(numlistlow.size):
        for j in range(numlisthigh.size):
            if numlistlow[i] + numlistlow[k] + numlisthigh[j] == 2020:
                targetlow = numlistlow[i]
                targethigh = numlisthigh[j]
                targetlow2 = numlistlow[k]
            
answer = targetlow*targethigh*targetlow2
print(answer)

32858450